<%= form_with(model: leafe, local: true) do |form| %>
  <% if leafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leafe.errors.count, "error") %> prohibited this leafe from being saved:</h2>

      <ul>
      <% leafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul> 
    </div>
  <% end %>

  <div class="field">
    <%= form.label :empid %>
    <%= form.number_field :empid %>
  </div>

  

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :no_of_days %>
    <%= form.number_field :no_of_days %>
  </div>

  <div class="field">
    <%= form.label :leave_type %>
    <%= form.text_field :leave_type %>
  </div>

  <div class="field">
    <%= form.label :action_date %>
    <%= form.date_select :action_date %>
  </div>

  <div class="field">
    <%= form.label :request_remarks %>
    <%= form.text_area :request_remarks %>
  </div>

  <div class="field">
    <%= form.label :action_remarks %>
    <%= form.text_area :action_remarks %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
